@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 245, 240, 220;  light beige
  --background-end-rgb: 210, 200, 180*/

body {
  background-size: 100% 100vh;
}

* {
  transition: all 0.1s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
